@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .cart {
    &-container {
      position: relative;
    }
    &-content {
      flex-direction: column;
    }
    &-top {
      &__left {
        width: 100%;
        justify-content: space-between;
      }
      &__right {
        gap: 20px;

        position: absolute;
        right: 15px;
        top: 13px;
        a {
          span {
            display: none;
          }
        }
      }
    }
    &-left {
      width: 100%;
    }
    &-right {
      width: 100%;
    }

    &-mobile {
      display: flex !important;
      align-items: center;
      justify-content: center;

      padding: 10px 16px;
      background: #FFF;
      border-radius: 15px 15px 0px 0px;
      box-shadow: 0px -5px 10px 0px rgba(230, 235, 243, 0.5);

      position: fixed;
      bottom: 70px;
      left: 0;
      width: 100%;

      z-index: 999;
      &__wrapper {
        width: 100%;
        max-width: 311px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__total {
        color: #1C2126;
        font-size: 18px;
        font-weight: 700;
        line-height: 132.857%; /* 155.556% */
      }
      &__count {
        color: var(--2-, #535353);
        font-size: 14px;
        font-weight: 500;
        line-height: 132.857%; /* 142.857% */
      }
      &__right {
        .cart-order {
          margin: 0;
          font-size: 12px;
          line-height: 1.2;
          padding: 12px 15px;
          height: 40px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .cart {
    &-count {
      display: none;
    }
    &-top {
      margin-bottom: 18px;
      &__left {
        gap: 10px;
        flex-wrap: wrap;
      }
    }
    &-delete {
      gap: 2px;
    }
  }
}