@media screen and (max-width: 576px) {
  .mobile-filter {
    .catalog-menu__title {
      padding: 10.5px 0;
    }
    .catalog-filter__item {
      padding: 16px 0;
    }
    .catalog-filter__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .catalog-filter__input {
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        border-radius: 20px;
        border: 1px solid #BDBDBD;
        background: #FFF;
        min-width: 60px;
        &::before, &::after {
          display: none;
        }
      }
      input:checked + label {
        color: white;
        background: #08A826;
        border-color: #08A826;
      }
    }
  }
}