.catalog {
  //catalog top
  &-heading {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    margin-bottom: 20px;
  }
  &-title {
    margin: 0;
    line-height: 1.2;
  }
  &-count {
    color: #93999E;
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%; /* 142.857% */
    padding-bottom: 2px;
  }
  &-slider {
    position: relative;
    margin-bottom: 40px;
  }

  //catalog item
  &-item {
    border-radius: 20px;
    background: #F4F5F6;
    padding: 16px;
    transition: all .3s ease;
    img {
      width: 100%;
      height: 135px;
      object-fit: contain;
    }
    &__heading {
      display: flex;
      flex-direction: column;
      gap: 7px;
      margin-bottom: 12px;
    }
    &__title {
      color: #1C2126;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      font-family: var(--second-family);
    }
    &__count {
      color: #93999E;
      font-size: 12px;
      font-weight: 400;
      font-family: var(--second-family);
    }
    &:hover {
      opacity: 0.7;
    }
  }

  //catalog-content
  &-content {
    display: flex;
    gap: 40px;
  }
  &-left {
    width: 100%;
    max-width: 206px;
    &__count {
      color: #1A1A1A;
      font-family: var(--second-family);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 150% */

      height: 45px;
      border-bottom: 1px solid #DADCDE;
    }
  }
  &-right {
    width: 100%;
  }
  &-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    height: 45px;

  }
  &-sort {
    display: flex;
    align-items: center;
    gap: 15px;
    &__title {
      color: #56595D;
      font-size: 14px;
      font-weight: 400;
      line-height: 142.857%; /* 142.857% */
    }
    &__item {
      color: var(--, #1A1A1A);
      font-size: 14px;
      font-weight: 400;
      line-height: 142.857%; /* 142.857% */
      transition: all .3s ease;
      cursor: pointer;
      &.active {
        color: #08A826;
        cursor: default;
        pointer-events: none;
      }
    }
    &__wrapper {
      display: flex;
      align-items: center;
      gap: 25px;
    }
  }
  &-view {
    display: flex;
    align-items: center;
    gap: 15px;
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all .3s ease;
      &:hover:not(&.active) {
        opacity: 0.7;
      }
      &.active {
        pointer-events: none;
        path {
          fill: #08A826;
        }
      }
    }
  }

  //catalog-list
  &-list {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    gap: 20px;
    &.row {
      grid-template: auto / 1fr;
    }
  }

  //catalog-paginate
  &-paginate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;

    margin-top: 50px;
    &__item {
      display: flex;
      width: 40px;
      height: 40px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      border: 1px solid #DCDCDC;
      background: #FFF;

      color: #1A1A1A;
      font-size: 16px;
      font-weight: 400;
      &.active {
        color: #FFF;
        border: 1px solid #08A826;
        background: #08A826;
        cursor: default;
        pointer-events: none;
      }
      &:hover:not(&.active) {
        opacity: 0.7;
      }
    }
  }

  //catalog-menu
  &-menu {
    border-bottom: 1px solid #DADCDE;
    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      color: #1C2126;
      font-size: 14px;
      font-weight: 700;
      line-height: 142.857% ; /* 142.857% */

      padding: 18px 0;
      cursor: pointer;
      &.active {
        svg {
          transform: rotate(180deg);
        }
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease;
      a {
        color: #1A1A1A;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 142.857%; /* 142.857% */
        &:hover {
          color: #08A826;
        }
      }
      &.active {
        max-height: 1000px;
        padding-bottom: 18px !important;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  //catalog filter
  &-filter {
    &__item {
      padding: 18px 0;
      &:not(:nth-last-of-type(1)) {
        border-bottom: 1px solid #DADCDE;
      }
    }
    &__inputs {
      display: flex;
      align-items: center;
      gap: 13px;
      input {
        width: 100%;
        border-radius: 8px;
        border: 1px solid #DADCDE;
        background: #FFF;
        padding: 0 9px;
        outline: none;
        height: 40px;

        font-size: 14px;
        color: #6B6C6E;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }
    }
    &__range {
      margin-top: 15px;
      height: 2px;
      .noUi-base, .noUi-horizontal, .noUi-target {
        height: 2px;
      }
      .noUi-connects {
        height: 2px;
      }
      .noUi-connect {
        height: 2px;
        background: #08A826;
      }
      .noUi-handle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: none;
        background: #08A826;
        box-shadow: none;
        right: -10px;
        top: -10px;
        cursor: pointer;
        &:before, &:after {
          display: none;
        }
      }
    }
    &__title {
      color: #1C2126;
      font-size: 14px;
      font-weight: 700;
      line-height: 142.857%; /* 142.857% */
      margin-bottom: 13px;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 13px;
    }
    &__input {
      input {
        display: none;
      }

      label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
      }

      label::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        border: 1px solid #93999E;
        transition: all 0.3s ease;
      }

      input:checked + label::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 1px;
        width: 20px;
        height: 20px;
        background: url(/public/checked.svg) center / contain no-repeat;
      }

      input:checked + label::before {
        background: rgba(8, 168, 38, 1);
        border: 1px solid rgba(8, 168, 38, 1);
      }
    }
    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 12px;

      padding-top: 1px;
      background: white;
      margin-top: -1px;
      button {
        width: 100%;
        height: 48px;
        border-radius: 10px;

        outline: none;

        cursor: pointer;
        transition: all .3s ease;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    &__submit {
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 98.188%; /*  */
      background: #08A826;
      border: none;
    }
    &__reset {
      color: var(--, #1A1A1A);
      font-size: 14px;
      font-weight: 400;
      line-height: 142.857%; /* 142.857% */

      border-radius: 10px;
      border: 1px solid rgba(8, 168, 38, 0.32);
      background: #FFF;
    }
  }
  &-mobile {
    display: none;
  }
}