.header {
  overflow: hidden;
  //header top
  &-logo {
    min-width: 92px;
  }
  &-top {
    background: #f2f2f2;
    padding: 10px 0;
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
    &__wrapper {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }
  &-cities {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: #484f55;

    display: flex;
    align-items: center;
    gap: 5px;
  }
  &-email {
    font-weight: 400;
    font-size: 12px;

    line-height: 1.5;
    color: #484f55;
    border-bottom: 1px dashed #484f55;
    &:hover {

    }
  }
  &-address, &-phones {
    display: flex;
    align-items: center;
    gap: 6px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #484f55;
    &__ico {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__wrapper {
      display: flex;
      align-items: center;
      gap: 15px;
      a {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        color: #484f55;
        &:hover {
          color: var(--akcent-1);
        }
      }
    }
  }
  &-socials {
    display: flex;
    align-items: center;
    gap: 6px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    svg {
      path {
        transition: all .3s ease;
      }
      &:hover {
        path {
          fill: var(--akcent-1);
        }
      }
    }
  }

  //header middle
  &-middle {
    padding: 12px 0;
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
    &__content {
      display: flex;
      align-items: center;
      gap: 25px;
    }
  }
  &-catalog {
    &__trigger {
      display: flex;
      align-items: center;
      gap: 13px;

      padding: 14px 20px;
      background: #535353;
      border-radius: 12px;

      font-weight: 600;
      font-size: 15px;
      line-height: 1.2;
      text-align: center;
      color: #fff;

      cursor: pointer;
      transition: all .3s ease;
      &:hover {
        opacity: 0.7;
      }
    }
    &__ico {
      display: flex;
      align-items: center;
      justify-content: center;
      .close {
        display: none;
      }
    }
  }
  &-search {
    min-width: 295px;
    width: 485px;
    max-width: 485px;

    position: relative;
    input {
      width: 100%;
      height: 44px;
      padding: 12px 55px 12px 13px;

      font-weight: 400;
      font-size: 14px;
      color: #1a1a1a;

      border: 1px solid #c5c5c5;
      border-radius: 12px;
      outline: none;
      transition: all .3s ease;
      &::placeholder {
        color: #9b9b9b;
      }
      &:focus {
        border: 1px solid #08a826;
        + button {
          &#js-search-submit {
            path {
              fill: #08a826;
            }
          }
        }
      }
    }
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      display: flex;
      align-items: center;
      justify-content: center;

      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      &#js-search-submit {
        right: 12px;
      }
      &#js-search-reset {
        right: 50px;
        display: none;
      }
    }
  }
  &-nav {
    display: flex;
    align-items: center;
    gap: 25px;
    a {
      display: flex;
      flex-direction: column;
      gap: 3px;
      justify-content: center;

      font-weight: 400;
      font-size: 14px;
      line-height: 1.14286;
      text-align: center;
      color: #484f55;
      transition: all .3s ease;
      &.header-login {
        flex-direction: row;
        align-items: center;
        gap: 9px;

        background: #eeeff1;
        border-radius: 12px;

        padding: 10px 14px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }

  //header bottom
  &-bottom {
    padding: 15px 0;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    background: #fff;
  }
  &-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 15px;
    li {
      margin: 0;
    }
    a {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5625;
      text-transform: uppercase;
      text-align: center;
      color: #222;
      &:hover {
        color: var(--akcent-1);
      }
    }
  }

  &-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  &-mobile {
    display: none;
  }
  &-phone, &-burger {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #EEEFF1;
    cursor: pointer;
    transition: all .3s ease;
  }
}