.mobile-filter {
  position: fixed;
  inset: 0;
  width: 100%;
  z-index: 10005;
  background: white;
  padding: 20px;

  overflow: auto;

  opacity: 0;
  visibility: hidden;

  transition: all .3s ease;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #DADCDE;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}