.productCard {
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 0px 0px 1px #DADCDE inset;
  padding: 18px;
  padding-bottom: 75px;

  position: relative;
  &-image {
    width: 100%;
    height: 190px;
    margin-bottom: 9px;
    position: relative;
    &:hover {
      a {
        opacity: 1;
        visibility: visible;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    a {
      color: #1A1A1A;
      font-size: 14px;
      font-weight: 400;

      display: flex;
      padding: 8px 12px;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;

      border-radius: 5px;
      background: #FFF;
      box-shadow: 0px 2px 4.3px 0px rgba(0, 0, 0, 0.10);

      white-space: nowrap;

      opacity: 0;
      visibility: hidden;
      &:hover {
        color: #1A1A1A;
        opacity: 0.7;
      }
    }
  }
  &-stars {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 10px;
  }
  &-title {
    color: #1C2126;
    font-size: 14px;
    font-weight: 600;
    height: 55px;

    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.25;
  }
  &-descr {
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    color: #484F55;
    font-size: 12px;
    font-weight: 400;
    line-height: 133.333%; /* 133.333% */
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% - 36px);
    position: absolute;
    bottom: 17px;
    left: 17px;
  }
  &-price {
    display: flex;
    flex-direction: column;
    gap: 4px;
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      color: #484F55;
      font-size: 12px;
      font-weight: 400;
      line-height: 133.333%; /* 133.333% */
      span {
        text-decoration-line: line-through;
      }
      div {
        color: #FFF;
        border-radius: 4px;
        background: #FC482D;
        display: flex;
        padding: 1px 6px;
        justify-content: center;
        align-items: center;
      }
    }
    &__bottom {
      color: var(--, #1A1A1A);
      font-size: 16px;
      font-weight: 700;
      line-height: 150%; /* 150% */
    }
  }
  &-cart {
    &__ico {
      display: flex;
      width: 49px;
      height: 49px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: #08A826;
      transition: all .3s ease;
      cursor: pointer;
      span {
        display: none;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 98.188%; /* 98.188% */
      }
      &:hover {
        opacity: 0.7;
      }
    }
    &__count {
      width: 66px;
      position: relative;

      border-radius: 10px;
      background: #F3F4F6;

      display: none;
      align-items: center;
      padding: 10px 8px;
      input {
        width: 100%;
        height: 100%;
        text-align: center;

        border: none;
        background: none;
        outline: none;
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 8px;

        border: none;
        background: none;
        outline: none;

        color: var(--, #1A1A1A);
        font-size: 18px;
        font-weight: 400;

        cursor: pointer;
        &.dec {
          left: 8px;
        }
        &.inc {
          right: 8px;
        }
      }
    }

  }

  &-banner {
    display: flex;
    align-items: center;
    gap: 5px;

    position: absolute;
    top: 18px;
    left: 18px;
    span {
      color: #FFF;
      font-size: 12px;
      font-weight: 400;
      display: flex;
      padding: 4px 11px;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
    }
    &__popular {
      background: #FC482D;
    }
    &__hit {
      background: #2992D9;
    }
  }
  &-links {
    display: flex;
    flex-direction: column;
    gap: 10px;

    position: absolute;
    top: 18px;
    right: 18px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &.row {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    padding: 22px;
    .productCard {
      &-wrapper {
        display: flex;
        gap: 10px;
      }
      &-image {
        width: 100%;
        max-width: 190px;
        height: 190px;
      }
      &-bottom {
        flex-direction: column;
        gap: 10px;
        position: static;
        margin-right: 30px;
      }
      &-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      &-stars {
        margin: 0;
      }
      &-title {
        height: auto;
      }
      &-bottom {
        width: auto;
        align-items: flex-start;
      }
      &-cart {
        &__ico {
          width: 170px;
          border-radius: 10px;

          gap: 10px;
          span {
            display: block;
          }
        }
        &__count {
          width: 170px;
        }
      }
      &-links {
        position: static;
      }
    }
  }

  &.productCart {
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #DADCDE;
    width: 100%;
    padding: 22px 0;
    .productCard {
      &-left {
        display: flex;
        gap: 18px;
      }
      &-right {
        display: flex;
        flex-direction: column;
        gap: 20px;

        width: calc(100% - 181px);
        &__content {
          width: 100%;
          display: flex;
          gap: 10px;
        }
      }
      &-banner {
        position: static;
      }
      &-content {
        gap: 12px;
      }
      &-image {
        max-width: 130px;
        min-width: 130px;
        height: 132px;
        margin: 0;
      }
      &-links {
        flex-direction: row;
      }
      &-bottom {
        width: 100%;
        align-items: flex-end;
        margin: 0;
        gap: 23px;
        &__content {
          display: flex;
          gap: 45px;
          align-items: center;
        }
      }
      &-cart {
        &__count {
          max-width: 100px;
          display: flex !important;
        }
      }
      &-check {
        margin-top: 50px;
        margin-right: 15px;
        input {
          display: none;
        }

        label {
          position: relative;
          cursor: pointer;
        }

        label::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 16px;
          height: 16px;
          border-radius: 4px;
          border: 1px solid #93999E;
          transition: all 0.3s ease;
        }

        input:checked + label::after {
          content: "";
          position: absolute;
          top: 0px;
          left: 1px;
          width: 16px;
          height: 16px;
          background: url(/public/checked.svg) center / contain no-repeat;
        }

        input:checked + label::before {
          background: rgba(8, 168, 38, 1);
          border: 1px solid rgba(8, 168, 38, 1);
        }
      }

      &-additional {
        &__slider {
          position: relative;

          max-height: 0;
          opacity: 0;
          overflow: hidden;
          transition: all .15s ease;
          &.active {
            max-height: 800px;
            padding-top: 10px;
            opacity: 1;
            overflow: visible;
          }

          .next {
            display: flex;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;

            border-radius: 25px;
            background: #FFF;
            box-shadow: 0px 1px 4px 0px #B8B8B8;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            right: 70px;
            cursor: pointer;
          }
        }
        &__trigger {
          color: #1A1A1A;
          font-size: 14px;
          font-weight: 600;
          line-height: 142.857%; /* 142.857% */

          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          &.active {
            svg {
              transform: rotate(-180deg);
            }
          }
        }
        &__item {
          border-radius: 12px;
          background: #F3F4F6;
          padding: 13px;

          display: flex;
          align-items: stretch;
          gap: 14px;
          &_image {
            width: 74px;
            min-width: 74px;
            height: auto;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          &_content {
            display: flex;
            flex-direction: column;
            gap: 7px;
          }
          &_title {
            color: #1C2126;
            font-size: 12px;
            font-weight: 600;
          }
          &_bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
          }
          &_price {
            color: #1A1A1A;
            font-size: 14px;
            font-weight: 700;
          }
          &_cart {
            display: flex;
            width: 24px;
            height: 24px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: #08A826;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}