@use 'variables';

// Обнуление стилей

* {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  transition: all .3s ease;
}

a:hover {
  color: var(--akcent-1);
  border-color: var(--akcent-1);
}

svg, path {
  transition: all .3s ease;
}


html {
  scroll-behavior: smooth;
  &.lock {
    overflow: hidden;
  }
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #fff;
  font-family: var(--font-family);
  cursor: default;
}

main {
  overflow: hidden;
  min-height: 50vh;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  //width: 100%;
  padding: 0 15px;
}

h1 {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 45px;
  color: #121212;
  margin-bottom: 16px;
}

h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 30px;
  color: #1a1a1a;
  margin-bottom: 20px;
}

h3 {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 20px;
  color: #1a1a1a;
}

h4 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  color: #1a1a1a;
}

h5 {
  font-weight: 700;
  font-size: 14px;

  /* line-height: 20px; */
  line-height: 1.42929;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  margin-bottom: 20px;
}

p, li {
  font-weight: 400;
  font-size: 16px;
  color: #535353;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

li {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}